{% extends 'layout.html' %}
{% block styles %}
<link rel="stylesheet" href="/public/css/board.css">
{% endblock %}
{% block content %}
<div class="header">
    <h1>CB&U 게시판</h1>
    <img class="header" src="https://images.pexels.com/photos/417074/pexels-photo-417074.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
    <h1 class="inner-h1">CB&U 게시판에 오신 것을 환영합니다.</h1>
    <h1 class="inner-h1-2">전세계의 사람들이 CB&U를 만들어 나갑니다.</h1>
</div>
<div class="dev-div">
    <h1>개발중인 페이지입니다.</h1>
    <img class="dev" src="https://png2.cleanpng.com/sh/a48912bc08469c4fd292b49527884b8a/L0KzQYm4UsE0N6lmR91yc4Pzfri0gB9ueKZ5feQ2cnXzcbr5TgRma5lzgdVyYX6whrbqlP9zNZh3eeJxaXP2Pb32hB8ucZ0yedD2ZXzndb36hgIuaZcyjNHraYSwg7b5lvlkbV5xi590dX7ndcP1hgMuaZ9yfd5tLUXmQYS4g8Vja2Q3UdQDLka3SIW7VsQ0OWY5TKkANkO0RYiCWcQveJ9s/kisspng-computer-repair-technician-vector-graphics-logo-il-anmeldelser-af-tobit-service-ls-kundernes-anmeld-5c131c5bc329b8.6484464315447563157994.png" alt="">
</div>
{% endblock %}
{% block script %}
<script src="/public/js/board.js"></script>
{% endblock %}