{% extends 'layout.html' %}

{% block styles %}
<link rel="stylesheet" href="/public/css/auth.css">
{% endblock %}

{% block content %}
<div class="header">
    <h1>CB&U ID</h1>
    <img class="header" src="https://wallpaperaccess.com/full/1385482.jpg" alt="">
    <h1 class="inner-h1">CB&U ID 생성</h1>
</div>
<div class="main-container">
    <p>ID로 CB&U의 게시판 서비스를 이용할 수 있습니다.</p>
    <p>CB&U ID를 가지고 계십니까?  <a href="/login">로그인</a></p>
    <form class="join-form" method="POST" action="/join">
        <input type="text" id="username" name="username" placeholder="별명">
        <input type="password" id="password" name="password" placeholder="암호">
        <input type="password" id="passwordConfirm" name="passwordConfirm" placeholder="암호 확인">
        <input type="email" id="email" name="email" placeholder="example@email.com">
        <div class="error" id="error-message">{{errorMessage}}</div>
        <button type="submit">회원가입</button>
    </form>
</div>
{% endblock %}

{% block script %}
<script src="/public/js/join.js"></script>
{% endblock %}