<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/main.css">
    {% block styles %}
    {% endblock %}
</head>
<body>
    <header>
        <h2 class="title">
            <a href="/">Simple Board</a>
        </h2>
        <ul>
            {% if isAuthenticated %}
            <li class="item">{{user.username}}님 환영합니다.</li>
            <li class="item"><a href="/logout">Logout</a></li>
            {% else %}
            <li class="item"><a href="/login">Login</a></li>
            <li class="item"><a href="/join">Sign-up</a></li>
            {% endif %}
        </ul>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>Copyright&copy; 2020.kmahn.All rights reserved.</p>
    </footer>

    {% block script %}
    {% endblock %}
</body>
</html>