{% extends 'layout.html' %}

{% block style %}
<link rel="stylesheet" href="/public/css/main.css">
{% endblock %}

{% block content %}
<h2 class="title">로그인</h2>

<form action="/login" class="login-form" method="post">
    <div class="control-wrapper">
        <label for="username">아이디</label>
        <input type="text" id="username" name="username">
    </div>
    <div class="control-wrapper">
        <label for="password">비밀번호</label>
        <input type="password" id="password" name="password">
    </div>
    <div class="error" id="error-message">{{errorMessage}}</div>
    <button type="submit">로그인</button>
</form>
{% endblock %}

{% block script %}
<script src="/public/js/login.js"></script>
{% endblock %}