{% extends 'layout.html' %}

{% block styles %}
<link rel="stylesheet" href="/public/css/login.css">
{% endblock %}

{% block content %}
<div class="login-container">
    <h1 class="title">로그인.</h1>
    <form action="/login" class="login-form" method="post">
        <input type="text" id="username" name="username" placeholder="CB&U ID"><br>
        <input type="password" id="password" name="password" placeholder="암호">
        <p>CB&U ID는 CB&U, CBstore, CBcloud에 로그인할 때 사용되는 이메일<br>
        주소입니다.</p>
        <div class="error" id="error-message">{{errorMessage}}</div>
        <button type="submit">로그인</button>
        <div class="column-container">
            <a href="/">CB&U ID 또는 암호를 잊으셨습니까?</a>
            <a href="/join">CB&U ID가 없으신가요? 지금 생성.</a>
        </div>
    </form>
</div>
<hr>
<p class="end-p">도움이 더 필요하신가요? <a href="">지금 채팅하기</a> 또는 080-123-456 번호로 문의하세요.</p>
{% endblock %}

{% block script %}
<script src="/public/js/login.js"></script>
{% endblock %}